/ {
    aliases {
        spi1 = &spi1;
    };

    usb_phy0: phy0 {
        compatible = "ulpi-phy";
        #phy-cells = <0>;
        reg = <0xe0002000 0x1000>;
        view-port = <0x0170>;
        drv-vbus;
    };
};

&usb0 {
    status = "okay";
    dr_mode = "host";
    usb-phy = <&usb_phy0>;
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	disable-wp;
};

&amba {
    ref24: ref24M {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
    };
};

&pinctrl0 {
    pinctrl_i2c0_default: i2c0-default {
        mux {
            groups = "i2c0_10_grp";
            function = "i2c0";
        };

        conf {
            groups = "i2c0_10_grp";
            bias-pull-up;
            slew-rate = <0>;
            io-standard = <1>;
        };
    };

    pinctrl_i2c0_gpio: i2c0-gpio {
        mux {
            groups = "gpio0_50_grp", "gpio0_51_grp";
            function = "gpio0";
        };

        conf {
            groups = "gpio0_50_grp", "gpio0_51_grp";
            slew-rate = <0>;
            io-standard = <1>;
        };
    };
};

#include <dt-bindings/gpio/gpio.h>

&i2c0 {
    status = "okay";
    clock-frequency = <400000>;
    pinctrl-names = "default", "gpio";
    pinctrl-0 = <&pinctrl_i2c0_default>;
    pinctrl-1 = <&pinctrl_i2c0_gpio>;
    scl-gpios = <&gpio0 50 0>;
    sda-gpios = <&gpio0 51 0>;

    pca9555_0: pca9555@20 {
        status = "okay";
        compatible = "nxp,pca9555";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0x20>;
        gpio-line-names =
            "DDS_PROFILE1", "DDS_PROFILE2", "DDS_CLK_CS", "DDS_PLL_LD",
            "DAC_TX_ENABLE", "CLK_GEN_SYNC", "DAC_RESETB", "EEPROM_CS",
            "CLK_GEN_CS", "CLK_GEN_RST", "CLK_GEN_LD1", "CLK_GEN_LD2",
            "DAC_CS", "RF_ADC_CS", "DDS_PROFILE0", "DAC_ALARM";
    };

    pca9555_2: pca9555@22 {
        status = "okay";
        compatible = "nxp,pca9555";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0x22>;
        gpio-line-names =
            "RX_PLL1_LD", "RX_PLL2_LD", "RX_PLL3_LD", "RX_PLL4_LD",
            "RX_PLL1_CS", "RX_PLL2_CS", "RX_PLL3_CS", "RX_PLL4_CS",
            "TX_PLL1_LD", "TX_PLL2_LD", "TX_PLL3_LD", "TX_PLL4_LD",
            "TX_PLL1_CS", "TX_PLL2_CS", "TX_PLL3_CS", "TX_PLL4_CS";
    };
};

&spi1 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    is-decoded-cs = <0>;
    num-cs = <1>;
    cs-gpios = <&pca9555_0 8 GPIO_ACTIVE_HIGH>;

    dac_system_clock: clock-generator@0{
        status = "okay";
        compatible = "lmk,lmk04821";
        spi-max-frequency = <20000000>;
        reg = <0x00>;

        clk-gen-cs  = <&pca9555_0  8 GPIO_ACTIVE_HIGH>;
        clk-gen-rst = <&pca9555_0  9 GPIO_ACTIVE_HIGH>;
        clk-gen-ld1 = <&pca9555_0 10 GPIO_ACTIVE_HIGH>;
        clk-gen-ld2 = <&pca9555_0 11 GPIO_ACTIVE_HIGH>;
    };
};
